@import url(https://fonts.googleapis.com/css?family=Numans);
.preloaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
}
div:hover, button:hover, svg:hover {
    transition: all .1s ease-out;
}
.valign {
    vertical-align: middle;
}
.login {
    background: #050b2b;
    /* background-image: url('../../images/loginBg.png'); */
    background-image: url('../../images/loginBgOuter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.login-lhs {
    /* max-width: 654px; */
    flex: 0 0 49%;
    margin-right: 20px;
    max-width: 654px;
}
.login h4 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #00D3FF;
    margin: 0 0 5px 0;
    z-index: 2;
}
.login-lhs img {
    width: 100%;
    max-height: 306px;
    min-height: 306px;
}
.login-rhs {
    flex: 0 0 49%;
    max-width: 492px;
    display: flex;
    flex-direction: column;
    padding-top: 52px;
}
.login .card, .count-down {
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 20px;
}
.count-down {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #FFFFFF;
}
.count-down .row {
    justify-content: center;
}
.count-down h2 {
    font-size: 14px;
    color: #FFFFFF99;
}
.linkTxt {
    text-decoration: underline;
    font-style: normal;
    cursor: pointer;
}
.divider {
    color: #808080DD;
    font-size: 52px;
    color: #808080DD;
    width: auto!important;
    background: none!important;
    margin: 0 20px;
    line-height: 54px;
    font-weight: bold;
}
.count-down h3 {
    font-size: 52px;
    margin: 0;
}
.loginLogo {
    z-index: 2;
    height: 40px;
    position: absolute;
    top: 40px;
    /* left: 50%;
    min-width: 1164px;
    max-width: 100%;
    transform: translateX(-50%); */
}
.loginLogo img {
    width: auto;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}
.row .duration:not(:last-child) h3 {    
    font-weight: bold;
}
.row .duration:last-child h3 {
    color: #AAAAAADD;
}
.count-down span {
    display: block;
    color: #FFFFFF99;
}
.login-rhs .card {
    width: 100%;
}
.login:after {
    content: "";
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.login .card-header {
    padding: 0;
    text-align: center;
    display: flex;
    font-size: 14px;
    color: #FFFFFF99;
}
.login .card-header h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.login .card-header span {
    margin-left: auto;
}
.login .card-body {
    padding: 0;
}
.login input {
    background: #9a9ba0!important;
    border: none;
    height: 27px;
    padding: 0 10px;
    line-height: 27px;
    font-size: 11px;
    color: #000000;
}

.container {
    height: 100%;
    align-content: center
}
.card {
    /* height: 370px; */
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,.8)!important
}

.card-header h3 {
    color: #fff
}

.input-group-prepend span {
    width: 45px;
    background-color:#4638c2;
    color: #fff;
    border: 0!important
}

input:focus {
    outline: 0!important;
    box-shadow: 0 0!important
}

.remember {
    color: #fff
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px
}

.login_btn {
    color: #000!important;
    background-color: #bebebe!important;
    width: 77px;
    height: 30px;
    text-transform: uppercase;
    line-height: 20px!important;
    font-size: 14px!important;
}

.login_btn:hover {
    color: #000;
    background-color: #fff
}

.links {
    color: #fff
}

.links a {
    margin-left: 4px
}
.f12 {
    font-size: 12px!important;
}
.f14 {
    font-size: 14px!important;
}
.f16 {
    font-size: 16px!important;
}
.f18 {
    font-size: 18px!important;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.2)!important;
}
.btn-primary {
    color: #fff;
    background-color: #4638c2!important;
    border-color: #4638c2!important;
}
.feedback {
    padding: 20px;
    color: #b4b4b4;
}

.feedback input, .feedback textarea {
    color: #e1e1e1!important;
    background-color: rgba(255,255,255,.1)!important;
    border-color: rgba(255,255,255,.15)!important;
} */
.feedback:after {
    content: "";
    clear: both;
    display: block
}

.feedback ul {
    margin: 0;
    padding: 0
}

.feedback p {
    font-size: 15px;
}

.feedback li {
    list-style-type: square;
    margin: 0 0 35px 20px;
}

.feedback .form-check {
    display: inline-block;
    padding: 0 1.25rem 0 0
}
.virtualWrapper .__btm, .virtualWrapper .__center, .virtualWrapper .__top {
    box-sizing: content-box;
}
.virtualWrapper [type="checkbox"]:not(:checked), [type="checkbox"]:checked, .virtualWrapper [type="radio"]:not(:checked), .virtualWrapper [type="radio"]:checked  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 0;
    z-index: 9;
}
.virtualWrapper [type="checkbox"]+span, .virtualWrapper [type="radio"]+span {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.virtualWrapper [type="checkbox"]+span:before, [type="checkbox"]+span:after, .virtualWrapper [type="radio"]+span:before, .virtualWrapper [type="radio"]+span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}
.virtualWrapper [type="checkbox"]+span:before, .virtualWrapper [type="checkbox"]+span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    background: rgba(255,255,255,0.8);
}
.virtualWrapper [type="checkbox"]+span:after, .virtualWrapper [type="radio"]+span:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.virtualWrapper [type="checkbox"]:checked+span:before, .virtualWrapper [type="radio"]:checked+span:before {
    top: -4px;
    left: -5px;
    width: 10px;
    height: 18px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background: transparent
}
.virtualWrapper [type="radio"]+span:before, .virtualWrapper [type="radio"]+span:after {
    border-radius: 100px;
}
.virtualWrapper [type="radio"]:checked+span:before {
    width: 18px;
    height: 18px;
    background: #26a69a;
    transform: rotate(0deg);
    left: 0;
    top: 0;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 55px;
    font-size: 40px;
    margin: 15px 0;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    cursor: pointer;
    margin-top: 4px;
}

.rating>label::before {
    font-family: 'Material Icons';
    content: "star";
    position: absolute;
    color: #b4b4b4;
    opacity: 1
}

.rating>input:checked~label:before,.rating>label:hover:before,.rating>label:hover~label:before {
    color: #ffd600;
    opacity: 1
}

body {
    margin: 0;
    padding: 0;
    font: normal 13px/20px 'Roboto', sans-serif!important;
}

a:focus,button:focus,input:focus {
    outline: 0!important;
    box-shadow: none!important
}

.btn i {
    cursor: pointer;
}
.positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

a,a:hover {
    text-decoration: none!important
}

.R {
    position: relative;
}
.z2 {
    z-index: 2;
}
.H {
    display: none!important
}
.bodyBg {
    position: relative;
    overflow: hidden;
}

.bodyBg img {
    width: 100%;
    object-fit: cover
}

.db {
    display: block
}

.m0 {
    margin: 0!important
}

.p0 {
    padding: 0!important
}

.iconSVG  {
    cursor: pointer;
}
.disableIcon {
    opacity: .3;
    cursor: auto!important;
}

.disableIcon:hover {
    color: #666
}

.anchorUI {
    position: absolute;
    cursor: pointer
}

.anchorWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.anchorWrapper:hover .helpText,.helpTextAni .helpText {
    opacity: 1
}

.no-user {
    font-size: 12px;
    padding: 14px 0;
    line-height: 18px;
    text-align: left;
    color: #f4f4f4;
    margin-left: auto;
}

.no-user:after {
    content: "";
    clear: both;
    display: none
}

.no-user b {
    text-align: right;
    float: right;
    margin-left: 4px;
}

.helpText {
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 4px 8px;
    text-align: center;
    font-size: 11px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 60%;
    line-height: 14px;
}
.anchorWrapper:before {
    content: "";
    display: block;
    margin-right: 4px;
    width: 10px;
    flex: 0 0 10px;
    height: 10px;
    border-radius: 10px;
    background: #AC2727;
    animation: fio 1.5s infinite;
    position: absolute;
    top: 20%;
}

.header {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    height: 58px;
    width: 100%;
    color: #d3d3d3;
    max-width: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 -2px 8px 1px rgba(255,255,255,1);
    display: flex;
    position: fixed;
    top: 0;
}
.header-tag {
    font-size: 25px;
    font-weight: bold;
    line-height: 58px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #e4e4e4;
}
.status {
    position: absolute;
    right: 0;
    bottom: 2px;
}
.online svg {
    fill: #1e8e3e;
}
.notdistrub svg {
    fill:#ac2727;
}
.away svg {
    fill:orange;
}
.navigation {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation a {
    color: rgba(255,255,255,0.9);
    font-size: 12px;
    margin: 0 15px;
    text-transform: uppercase;
    /* font-weight: 600; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation a:hover {
    color: rgba(255,255,255,0.7);
}
.navigation i {
    font-size: 25px;
    cursor: pointer;
}

.header-rhs {
    margin-left: 20px;
    display: flex;
    /* align-self: center;
    margin-left: auto; */
}

.header-rhs .dropdown {
    display: flex;
    align-self: center
}

.header-rhs a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 10px;
    color: #B7B7B7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-rhs a::after {
    display: none
}

.header-rhs i {
    font-size: 26px;
    line-height: 30px;
    cursor: pointer;
}
.header-rhs .dropdown.show a.dropdown-toggle, .header-rhs .dropdown a.dropdown-toggle:hover {
    /* background: rgba(0,0,0,.1); */
    color: rgba(255, 255, 255,0.8);
    cursor: pointer;
}
.header-rhs .dropdown-menu.show {
    left: inherit!important;
    right: 0;
    transform: translate3d(0,42px,0)!important
}

.header-rhs .dropdown-menu::before {
    content: "";
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee
}

.header-rhs .dropdown-item {
    padding-left: 30px;
    width: auto;
    border-radius: 0;
    background: 0 0;
    margin: 0;
    font-size: 12px;
    justify-content: left;
    color: #666;
}
.header-rhs .dropdown-item.current:after {
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    height: 10px;
    width: 7px;
    border-bottom: 2px solid #007bff;
    border-right: 2px solid #007bff;
    position: absolute;
    top: 16px;
    left: 14px;
}
.brandLogo {
    width: 100px;
    height: 100%;
    display: none;
    /* display: flex; */
}

.brandLogo img {
    width: 100%;
    height: auto;
    align-self: center
}

.logo {
    width: 80px;
    height: auto;
    display: flex
}

.logo img {
    width: 100%;
    height: auto
}

.footerNav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: 0 0;
    font-size: 12px;
    background-image: linear-gradient(180deg,rgba(221,221,221,0) 5.98%,rgba(255,255,255,.5) 25.24%,rgba(255,255,255,.95) 59.38%,#fff 90%,#fff 90%);
    width: 100%;
    padding: 20px 0 5px 0;
    text-align: center;
    display: flex;
    justify-content: center
}

.footerNav a {
    color: #333;
    padding: 10px 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.footerNav i {
    margin-bottom: 2px;
    cursor: pointer;
}

.divider {
    background: #ccc;
    width: 1px;
    padding: 0!important
}

.floater {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.floater .btn {
    margin-bottom: 10px;
    /* min-width: 150px; */
    max-width: 200px;
    width: 132px;
    font-size: 14px;
    /* font-weight: 600; */
    text-transform: uppercase;
    height: 37px;
    background: #AC2727!important;
    border: none!important;
    color: #e4e4e4!important;
    transition: width .3s ease-in;
}

.floater .btn:last-of-type {
    margin-bottom: 0
}
.floater svg {
    vertical-align: middle;
    height: 16px;
    width: auto;
    fill: #e4e4e4;
}
.leftPosition {
    left: 0;
}
.leftPosition svg {
    margin-left: 8px;
}
.leftPosition button {
    /* transform: translateX(-35px); */
    border-radius: 0 100px 100px 0;
    text-align: right;
    padding-right: 18px;
}
.rightPosition {
    right: 0;
    flex-wrap: wrap-reverse;
}
.rightPosition svg {
    margin-right: 8px;
}
.rightPosition button {
    /* transform: translateX(35px); */
    border-radius: 100px 0 0 100px;
    text-align: left;
    padding-left: 18px;
}
.leftPosition button:hover, .rightPosition button:hover, .leftPosition button.active, .rightPosition button.active {
    transform: translateX(0px);
    transition: width .5s ease-out;
    width: 149px!important;
}
.modal-body {
    /* min-height: 400px; */
    height: 486px;
    overflow: auto;
    background: #292929;
    color: #b2b2b2;
    z-index: 1;
}
.close-ico {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.close-ico svg {
    width: 100%;
    height: 100%;
    fill: #434343;
}
.close-ico:hover svg {
    fill: #000;
}
.no-data {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-header .nav {
    font-size: 12px;
}
.modal-header .nav-tabs {
    border-bottom: none;
    margin-left: 20px;
}
.modal-header .nav-tabs .nav-link {
    padding: .5rem 4px;
    margin: 0 7px;
    color: #676767;
    border: none;
    border-bottom: 2px solid transparent;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
.modal-header .nav-tabs .nav-link:after {
    content: "";
    border-right: 1px solid #676767;
    height: 10px;
    position: absolute;
    right: -9px;
    top: 14px;
}
.modal-header li:last-of-type .nav-link:after, .modal-header li:hover:last-of-type .nav-link:after, .modal-header li:last-of-type .nav-link.active:after {
    border-right: 0;
}
.modal-header .nav-item .nav-link.active, .modal-header .nav-item:hover .nav-link  {
    color: #b4b4b4;
    height: 38px;
}
.modal-header .nav-item .nav-link.active  {
    border-bottom: 2px solid #AC2727;
}
.modal-header .nav-item:hover .nav-link {
    border-bottom: 2px solid #D6780E;
}
.modal-header .nav-item:hover .nav-link:after, .modal-header .nav-item .nav-link.active:after  {
    border-right: 1px solid #b2b2b2;
}
.modal-header .nav-tabs .nav-item.show .nav-link, .modal-header .nav-tabs .nav-link.active {
    background: none;
}
.list-group li {
    background: #2F2F2F;
    border-radius: 0;
    font-size: 14px;
    padding: 9px 10px 10px 10px;
    margin: 0 0 1px 0;
    color: #FFFFFF99;
    border: none;
    /* border-bottom: 1px solid #000; */
}
.list-group .row {
    margin: 0
}
.alignText {
    text-align: center;
    align-self: center;
}
.list-group a {
    color: #b2b2b2;
    vertical-align: middle;
}
.list-group a:hover {
    color: #f4f4f4;
}
.list-group button {
    font-size: 11px;
    padding: .2rem .5rem
}
.avatar {
    padding: 20px 0;
    text-align: center
}

.avatar i {
    color: #fff;
    font-size: 60px
}

.user-chat {
    padding: 15px
}

.user-chat .card {
    margin-bottom: 15px;
    background: #1c1717
}

.user-chat .card-body {
    background: #666;
    color: #fff;
    text-align: center
}

::-webkit-scrollbar {
    width: .3em
}

::-webkit-scrollbar,::-webkit-scrollbar-thumb {
    overflow: auto;
    background: 0 0
}

::-webkit-scrollbar-thumb {
    transition: all .5s ease-out;
    background: rgba(0,0,0,.2)
}

.modal-dialog {
    transform: translate(-50%,-50%)!important;
    top: 50%;
    left: 50%;
    margin: 0!important
}

@-webkit-keyframes fio {
    0% {
        opacity: 1
    }

    50% {
        opacity: .3
    }

    100% {
        opacity: 1
    }
}

@keyframes fio {
    0% {
        opacity: 1
    }

    50% {
        opacity: .3
    }

    100% {
        opacity: 1
    }
}

.modal-dialog {
    max-width: 864px!important;
    width: 98%!important;
    border-radius: 0
}

.modal-header {
    background: #1c1717;
    border: none!important;
    border-radius: 0!important;
    color: rgba(255,255,255,.8);
    height: 39px;
    padding: 0 15px!important;
    box-shadow: 1px 1px 5px 0px rgba(255,255,255,0.05);
    z-index: 2;
}

.modal-header .close {
    padding: 0!important;
    margin: 6px 0!important;
    text-shadow: 0 0 0 #fff;
    height: 28px;
    opacity: 1;
}
.modal-header .close svg {    
    fill: #ABABAB;
}
.modal-header .close:hover svg:hover {   
    fill: #fff;
}
.modal-backdrop.show {
    opacity: 1!important;
    /* top: 60px;
    height: calc(100vh - 60px); */
}
.modal-backdrop.show {
    opacity: 0.55!important;
}
.modal-overlay-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-out;
}
.modal-overlay-cont.show {
    opacity: 1;
    z-index: 2;
}
.modal-overlay-cont .modal-body {
    /* min-height: 500px; */
    background: #292929;
}
.modal-overlay-cont .modal-body img {
    padding: 10px;
    width: 100%;
    height: auto;
}
.modal-header h5 {
    line-height: 39px;
    font-size: 16px!important;
    text-transform: uppercase;
    color: #9F9F9F;
}
.modal-header .tabs {
    margin-right: auto;
    margin-left: 30px;
    position: relative;
}
.modal-header .tabs:after, .modal-header .searchBar:after, .modal-header .select-all:after, .titleHdng:after {
    content: "";
    background: #5C5C5C;
    position: absolute;
    top: 10px;
    left: -3px;
    width: 1px;
    height: 22px;
    box-shadow: 1px 0px 0 0px rgba(0,0,0,.35);
}
.modal-content {
    background-color: transparent!important;
    border-radius: 0!important;
    border: none!important
}
.modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex!important;
    padding: 0 20px!important;
    border-top: none!important;
    min-height: 10px;
    max-height: 50px;
    background: #1c1717;
}

.modal-footer p {
    margin: 0 auto 0 0!important;
    padding: 15px 0;
}
.modal-footer button {
    margin: 15px 0;
}
.modal-footer p i {
    font-size: 13px;
    vertical-align: middle;
}
.modal-footer svg {
    width: 14px;
    vertical-align: middle;
    margin-left: 4px;
}
.modal-footer i {
    margin-left: 5px;
}
.modal-footer button {
    margin-left: auto;
    border-radius: 0;
    font-weight: 600;
}
.select-all, .titleHdng {
    margin-left: 20px;
    margin-right: auto;
    padding-left: 20px;
    position: relative;
    line-height: 39px;
}
.select-all {
    cursor: pointer;
    color: #FFFFFF99;
}
.titleHdng {
    color: #ABABAB;
}
.select-all:hover {
    color: #fff;
}
.searchBar {
    position: relative;
    margin-left: 30px;
    margin-right: auto;
    padding: 6px 0;
    width: 358px;
}
.searchBar i {
    position: absolute;
    right: 25px;
    color: #ACACAC;
    top: 11px;
    font-size: 14px;
    cursor: pointer;
}
.searchBar input {
    width: calc(100% - 45px);
    border: 1px solid #5C5C5C;
    color: #ACACAC;
    background: #2F2F2F;
    border-radius: 30px;
    padding: 2px 30px 2px 15px;
    line-height: 19px;
    margin-left: 30px;
}
.refreshIcon {
    width: 14px;
    height: 14px;
    margin: 9px 20px;
    cursor: pointer;
}
.refreshIcon i {
    font-size: 19px;
    color: #ABABAB;
    position: absolute;
    right: -18px;
    top: 8px;
}
.iconSVG svg {
    width: 24px
}
.close {
    font-weight: 400!important
}
.completeBtn,.liveBtn,.upcomingBtn {
    border: none!important;
    height: 34px;
    line-height: 30px!important;
    width: 115px;
    text-transform: uppercase;
    font-size: 13px!important;
    border-radius: 4px!important;
}

.liveBtn {
    background: #da3535!important;
    color: #fff!important;
    cursor: auto!important;
}

.upcomingBtn {
    background: rgba(171,171,171,.2)!important;
    color: rgba(255,255,255,.5)!important;
    cursor: auto!important;
}

.completeBtn {
    background: #ababab!important;
    color: rgba(0,0,0,.9)!important
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid #AC2727;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: loader .75s linear infinite;
    animation: loader .75s linear infinite;
    z-index: 9
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0
}

.schedule {
    padding: 20px
}

@keyframes loader {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}


/*** All Participants ***/
.participants .row {
    padding: 0 15px;
}
.participants .actions {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.participants .actions img {
    margin-left: 25px;
    cursor: pointer;
}
.participants .actions:after {
    content: "";
    background: #4a4a4a;
    position: absolute;
    top: -19px;
    left: -3px;
    width: 1px;
    height: 58px;
    box-shadow: 1px 0px 0 0px rgba(0,0,0,1);
}
.partAvatar i{
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.businessCard {
    text-align: center;
    padding: 10px 0;
}
.businessCard img {
    width: 100%;
    height: 100%;
}
.briefcase {
    padding-bottom: 70px;
    overflow: auto;
}
.btn-secondary {
    background-color: #ababab!important;
    border: 1px solid #ababab!important;
    color: #000!important;
    display: flex;
    min-width: 74px;
    height: 25px;
    line-height: 25px!important;
    font-size: 12px!important;
    padding: 0 14px!important;
    justify-content: center;
    align-items: center;
}
.btn-secondary i {
    /* vertical-align: middle; */
    vertical-align: text-top;
}

/*** Business Card ***/
.business-card {
    width: 95%;
    height: 330px;
    background: #D5D5D5;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
/* .business-card input {
    background: rgb(47 45 45 / 100%);
    color: #fff;
    border: 1px solid #333;
    padding: 3px 10px;
    font-size: 12px;
    width: calc(100% - 20px);
} */
.card-image {
    width: 78px;
    height: 80px;
    position: relative;
    margin: 30px auto;
}
.card-image img {
    width: 100%;
    height: 100%;
}
.form-group input:focus {
    background: none;
}
.business-card .form-group input:disabled {
    border: none;
    background: transparent!important;
}
.form-group input.userName, .form-group input.compnay, .form-group input.designation  { 
    color: #333!important;
    border: 1px solid #ccc!important;
    background: rgba(0,0,0,0.1)!important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.form-group input.userName:disabled  {
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: none!important;
}
.form-group input:disabled.userName { 
    color: #D6780E!important;
    padding-bottom: 1px;
    padding: 1px 0;
}
.form-group input:disabled.compnay, .form-group input:disabled.designation {
    color: #5F5F5F;
    border: none!important;
    padding: 0 0 1px 0;
}
.imageUpload {
    display: none!important;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}
.imageUpload i {
    font-size: 25px!important;
}
.imageUpload input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.material-icons {
    cursor: default;
}
.card-lhs {
    margin: 30px 0 30px 60px;
    width: 235px;
}
.card-lhs:after {
    content: "";
    position: absolute;
    top: -13px;
    left: -80px;
    background: #1C1717;
    width: 100px;
    height: 190px;
    transform: skew(-15deg, 15deg);
}
.card-rhs {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #1C1717;
    padding: 0 30px;
    width: 400px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.business-card:after {
    content: "";
    position: absolute;
    top: 7px;
    right: -40px;
    background: #D6780E;
    width: 120px;
    height: 340px;
    transform: skew(-15deg, 15deg);
}
.card-rhs input {
    font-size: 16px;
}
.card-rhs .row {
    display: flex;

}
.card-rhs i {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    left: 28px;
}
.card-rhs .form-group {
    width: 80%;
    margin-left: 46px!important;
}

/*** My Profile ***/
.my-profile {
    padding: 30px;
}
.user-profile {
    width: 138px;
    margin-right: 25px;
}
.user-image {
    width: 100%;
    height: 122px;
    text-align-last: center;
    color: #fff;
    margin-right: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background: #A6A6A6;
}
.user-image img {
    width: 100%;
    height: 100%;
}
.profile-rhs {
    width: calc(100% - 170px);
    background: rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 10px;
}
.edit-image {
    position: relative;
    font-size: 11px;
    cursor: pointer;
    width: 70px;
    height: 24px;
    padding: 0;
}
.edit-image button {
    height: 100%;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    background: #bebebe;
    width: 138px;
    color: #000000;
    min-height: 39px;
    font-weight: 600;
}
.edit-image input:hover {
    background: rgba(255,255,255,.1);
}
.edit-image input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.darkForm {
    display: flex;
    flex-wrap: wrap;
}
.darkForm .form-group {
    position: relative;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 1% 5px 20px 5px;
}
.darkForm .labelTxt {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}
.darkForm .form-group input {
    padding: 3px 10px;
    font-size: 12px;
    color: #00000099;
    background: rgba(255,255,255,0.6);
    border-color: #707070;
}
.darkForm .form-group input:disabled {
    border: none;
}
.user-footer {
    display: flex;
    max-width: calc(100% + 60px);
    flex: 0 0 calc(100% + 60px);
    border-top: 1px solid #000;
    padding: 20px 30px 0 30px;
    margin: 20px 0 0 -30px;
}
.user-footer b {
    color: #FFFFFF99;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
.user-footer span {
    font-size: 11px;
    color: #838383;
}
.nonEdit .labelTxt {
    left: 0;
    padding: 0;
}
.nonEdit .darkForm .form-group input {
    border: none;
    padding: 12px 0;
}
.nonEdit .btn, .nonEdit .edit-image {
    display: none;
}
.darkForm .btn {
    height: 44px;
    margin-left: auto;
    background: #bebebe!important;
    color: #000000!important;
    text-transform: uppercase;
    border: none;
    min-width: 70px;
    font-size: 12px;
    font-weight: 600;
}

/*** Leaderboard ***/
.listTable .row-th, .row-td {
    display: flex;
    width: 100%;
}

.listTable .row-th {
    background: #292929;
    font-size: 13px;
    font-weight: bold;
}
.listTable .row-td {
    border-bottom: 1px solid #181818;
    background: #2f2f2f;
    margin-bottom: 0px;
    font-size: 14px;
}
.listTable .th-col {
    padding: 13px 15px 14px 15px;
}
.listTable .td-col {
    padding: 10px 15px 11px 15px;
    position: relative;
}
.listTable .th-col:first-of-type:after, .listTable .td-col:first-of-type:after {
    display: none;
}
.listTable .th-col:after, .listTable .td-col:after, .tabsBlock li:after {
    content: "";
    background: #4A4A4A;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    box-shadow: 1px 0px 0 0px rgba(0,0,0,1);
}
.tabsBlock ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.tabsBlock li {
    list-style: none;
    font-size: 12px;
    color: #9F9F9F;
    cursor: pointer;
    padding: 10px 19px 7px 19px;
    position: relative;
    text-align: center;
}
.tabsBlock li:hover, .tabsBlock li.active {
    border-bottom: 2px solid #D6780E;
}
.tabsBlock li:first-of-type:after {
    display: none;
}
.leaderHeader {
    display: flex;
    max-width: calc(100% + 15px);
    flex: 0 0 calc(100% + 15px);
    margin-left: -15px;
}
.leaderHeader .searchBar {
    width: 240px;
    margin-left: 10px;
}
.leaderHeader .searchBar:after {
    top: 0;
    height: 38px;
}

.source-preview {
    width: 100%;
    height: 100%;;
    overflow: hidden;
}

/*** Alert ***/
.alert-msg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -65px);
    z-index: 9999;
    transition: all .3s ease-out;
    width: 450px;
    padding: 10px 20px 10px 65px;
    background: #E0E0E0!important;
    color: #434343;
    font-size: 11px;
}
.alert-msg p {
    margin: 0;
}
.alert-msg i {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 30px;
}
.alert-msg b {
    display: block;
    font-size: 13px;
    color: #434343;
}
.alert-msg-info {    
    border-left: 6px solid #1E6295!important;
}
.alert-msg-info i {
    color: #1E6295!important;
}
.alert-msg-success {    
    border-left: 6px solid #138329!important;
}
.alert-msg-success i {    
    color: #138329!important;
}
.alert-msg-warning {    
    border-left: 6px solid #D5A50A!important;
}
.alert-msg-warning i {    
    color: #D5A50A!important;
}
.alert-msg.show {
    transform: translate(-50%, 60%);
}

/*** FAQ ***/
.faq {
    padding: 20px;
    font-size: 12px;
}
.faq ul {
    margin: 0 0 0 20px;
    padding: 0;
}
.faq li {
    list-style-type: decimal;
    margin-bottom: 20px;
    padding-left: 10px
}
.faq b {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}
.faq p {
    margin: 0;
    padding: 0;
}